[submodule "external/Surelog"]
	path = external/Surelog
	url = git@github.com:chipsalliance/Surelog.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/fmt"]
	path = external/fmt
	url = git@github.com:fmtlib/fmt.git
